<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yuyunchao.asus.mytaoshop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".ShopApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".presenter.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presenter.details.GoodsDetailsActivity" />
        <activity android:name=".presenter.main.shop.goodstype.GoodsTypeActivity" />
        <activity android:name=".presenter.main.myself.user.login.LoginActivity" />
        <activity android:name=".presenter.main.myself.user.register.RegisterActivity" />
        <activity android:name=".presenter.main.myself.presoninfo.PersonInfoActivity"></activity>
    </application>

</manifest>